@import "tailwindcss";

/* COLORS:
#2B1F31
#413D65
#5FB9B0
#BEF992
*/
::selection {
  background: #5fb9b0;
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: #5fb9b0;
  color: #eee;
  text-shadow: none;
}

h2 {
  color: #bef992;
  letter-spacing: -0.05em;
}

h3 {
  color: #d9dff2;
}

p {
  color: #d9dff2;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  background: #020013;
}
